<!doctype html>
<html lang='en'>
    <head>
        <meta chaset='utf-8'>
        <title>Sentiment Classification model</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/booststrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/booststrap/3.3.5/css/bootstrap-theme.min.css'>
        <script src='https://maxcdn.bootstrapcdn.com/booststrap/3.3.5/js/bootstrap.min.css'></script>
    </head>
    <body>
        <h2>Naive Bayes Sentiment classifier</h2>
        <form id='input', method='post', action='predict'>
            <textarea class="textarea resize-ta" placeholder='enter your text to analyze' ></textarea>
            <input type='submit' value='submit'>
        </form>
    </body>
</html>