<!doctype html>
<html lang='en'>
    <head>
        <meta chaset='utf-8'>
        <title>Sentiment Classification model</title>
    </head>
    <body style="background-image: url('');">
        <h2 style="color: white;text-align: center;">Naive Bayes Sentiment classifier</h2>
        <form id='input', method='post', action='predict', style="text-align: center;">
            <textarea class="textarea resize-ta" placeholder='enter your text to analyze' 
            type='text' name='text', style="background-color: transparent; text-align: center;color: white;
            height: 100px; width: 800px;"></textarea></br>
            <input type='submit' value='submit'>
        </form>
    </body>
</html>